<div class="container mt-5">
  @if((basketService.basketSource | async) === null){
    <div>
      <p>There are no items in your basket</p>
    </div>
  }
  @if(basketService.basketSource | async; as basket){
    <ng-container>
      <div class="container">
          <div class="row">
            <app-basket-summary
                (addItem)="incrementQuantity($event)"
                (removeItem)="removeItem($event)">
            </app-basket-summary>
          </div>

          <div class="row">
              <div class="col-6 offset-6">
                  <app-order-totals></app-order-totals>
                  <div class="d-grid">
                      <a routerLink="/checkout" class="btn btn-outline-primary py-2 mb-3">
                          Proceed to checkout
                      </a>
                  </div>
              </div>
          </div>

      </div>
  </ng-container>
  }
</div>
