<section class="featured">
  <div class="d-flex justify-content-center pt-4 text-warning">
      <h1>Welcome to the Shop!</h1>
  </div>
</section>
<carousel [isAnimated]="true">
  <slide>
      <img src="assets/hero1.jpg" alt="slide" style="display: block; width: 100%;">
  </slide>
  <slide>
      <img src="assets/hero2.jpg" alt="slide" style="display: block; width: 100%;">
  </slide>
  <slide>
      <img src="assets/hero3.jpg" alt="slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/hero4.jpg" alt="slide" style="display: block; width: 100%;">
</slide>
</carousel>
=
