<div class="container">
  <div class="row">
    <section class="col-3">
      @if(types && brands){
        <ng-container>
          <h5 class="text-warning ms-3">Sort</h5>
          <select class="form-select mb-4" (change)="onSortSelected($event)">
            @for (sort of sortOptions; track sort.value) {
              <option [value]="sort.value" [selected]="shopParams.sort === sort.value">{{sort.name}}</option>
            }
          </select>
          <h5 class="text-warning ms-3">Brands</h5>
          <ul class="list-group my-3">
            @for (brand of brands; track brand.id)
            {
              <li class="list-group-item" [class.active]="brand.id === shopParams.brandId"
                [value]="brand.id" (click)="onBrandSelected(brand.id)">
                {{brand.name}}
              </li>
            }
          </ul>
          <h5 class="text-warning ms-3">Types</h5>
          <ul class="list-group my-3">
            @for (type of types; track type.id){
              <li class="list-group-item" [class.active]="type.id === shopParams.typeId"
                [value]="type.id" (click)="onTypeSelected(type.id)">
                {{type.name}}
              </li>
            }
          </ul>
        </ng-container>
      }
    </section>

    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header
          [totalCount]="totalCount" [pageNumber]="shopParams.pageNumber" [pageSize]="shopParams.pageSize">
        </app-paging-header>
        @if(products){
          <div class="d-flex mt-2">
            <input (keyup)="onSearch()" type="text" placeholder="Search" class="form-control me-2" #search>
            <button (click)="onSearch()" class="btn btn-outline-primary mx-2">Search</button>
            <button (click)="onReset()" class="btn btn-outline-success">Reset</button>
          </div>
        }
      </div>
      <div class="row row-cols-3 g-3 mb-4">
        @for (item of products; track item.id){
          <div class="col-4">
            <app-shop-item [product]="item"></app-shop-item>
          </div>
        }
      </div>
      @if (totalCount > 0){
        <div class="d-flex justify-content-center">
          <app-pager
            [totalCount]="totalCount" [pageSize]="shopParams.pageSize"
            [pageNumber]="shopParams.pageNumber" (pageChanged)="onPageChanged($event)">
          </app-pager>
        </div>
      }
    </section>
  </div>
</div>
