@if(product){
  <div class="card h-100 shadow-sm">
    <div class="image position-relative" style="cursor: pointer;">
        <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid bg-info">
    </div>
    <div class="card-body d-flex flex-column">
        <a [routerLink]="['/shop', product.id]" class="text-decoration-none">
            <h6 class="text-uppercase">
                {{product.name}}
            </h6>
        </a>
        <div class="d-flex align-items-center justify-content-between hover-overlay">
          <span class="mb-2 text-danger">{{ product.price | currency }}</span>
          <div>
            <button (click)="addItemToBasket()" class="btn btn-outline-primary fa fa-shopping-cart me-2"></button>
            <button [routerLink]="['/shop', product.id]" class="btn btn-outline-primary">View</button>
          </div>
        </div>
    </div>
  </div>
}
