<div class="container">
  <ul class="nav nav-pills nav-justified">
    @for(step of steps; track step; let i = $index){
      <li class="nav-item">
        <div class="d-grid">
            <button
                (click)="onClick(i)"
                [disabled]="true"
                [class.active]="selectedIndex === i"
                class="nav-link py-3 text-uppercase fw-bold">
                {{step.label}}
            </button>
        </div>
    </li>
    }
  </ul>
  @if(selected){
    <div>
      <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
    </div>
  }
</div>
